<% provide :title, t(".title") %>
<div class="kode-content padding-tb-50">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="comment-form">
          <div class="row">
            <%= render "form" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
