<div class="fixed-sidebar-left">
  <ul class="nav navbar-nav side-nav nicescroll-bar">
    <li class="navigation-header">
      <span><%= t "admin.application.main" %></span>
      <i class="zmdi zmdi-more"></i>
    </li>
    <li>
      <a href="<%= admin_categories_path %>">
        <div class="pull-left"><i class="zmdi zmdi-puzzle-piece mr-20"></i><span class="right-nav-text"><%= t "admin.application.categories" %></span></div>
        <div class="clearfix"></div>
      </a>
    </li>
  </ul>
</div>
