<% provide :title, t(".title") %>
<div class="container-fluid">
  <div class="row heading-bg">
    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
      <h5 class="txt-dark"><%= t ".edit_publisher" %></h5>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="panel panel-default card-view">
        <div class="panel-wrapper collapse in">
          <div class="panel-body">
            <%= render "shared/error_messages", object: @publisher %>
            <div class="form-wrap">
              <%= render "form" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
